@import "../../bower_components/bootstrap/less/variables.less";
@import "../../bower_components/bootstrap/less/mixins.less";
@import "../../bower_components/bootstrap/less/normalize.less";

body {
	background: #000;
}

#video {
	position: absolute;
	left: -5000px;
}